Repository serqlane/serqlane, pull requests merged in 2023-12, with the labels that each got.

#47 Basic user defined structs
  serqlane/astcompiler.py
  serqlane/grammar.lark
Labels: area/compiler, area/vm

#60 run ci on all prs
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/tests.yml
Labels: ci

#48 add quote escapes to string literals
  serqlane/astcompiler.py
  serqlane/grammar.lark
  tests/test_literals.py
  tests/test_types.py
Labels: area/parser, needs tests
